$switch-button-color: #8EF9F3;
$log-in-button-color: #5EFC8D;
$dashboard-color: #EEEEEE;
$balance-minus-color: #FF652F;
$balance-plus-color: #5BC5A7;
$add-expense-color: #FF5216;
$settle-color: #5BC5A7;
$header-color: #5BC5A7;
$bars-color: #5BC5A7;
$left-side-color: #F5F5F5;
$input-border-bottom: #AAAAAA;
$success-box: #22bb33;
$expense-box-background: #F5F5F5;
$add-expense-input-border: #DDDDDD;
$main-expense-box: #F5F5F5;
$percent-input: #B8B8B8;
$correct-user-selected: #5EFC8D3D;
$balance-neutral: #333333;
