$switch-button-color: #8EF9F3;
$log-in-button-color: #5EFC8D;
$dashboard-color: #EEEEEE;
$balance-minus-color: #FF652F;
$balance-plus-color: #5BC5A7;
$add-expense-color: #FF5216;
$settle-color: #5BC5A7;
$header-color: #5BC5A7;
$bars-color: #5BC5A7;
$left-side-color: #F5F5F5
