<mat-list>
  <mat-list-item>
    <button mat-button (click)="onClick('Dashboard')" type="button">
      <img src="assets/dashboard.png" class="dashboard-icon"
           alt="dashboard">
      Dashboard
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="onClick('Recent Activities')" type="button">
      <mat-icon>flag</mat-icon>
      Recent Activities
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="onClick('Location')" type="button">
      <mat-icon> my_location</mat-icon>
      Location
    </button>
  </mat-list-item>
</mat-list>
