<div class="flexbox">
  <div class="top-box">
    <button mat-button class="add-button" (click)="onAddExpenseClick()" type="button"
            [disabled]="!(friendsList$|async)?.length"
    >
      Add an Expense

    </button>
    <div class="text">{{displayString}}</div>


    <button mat-button class="settle-button" type="button" (click)="onSettleUpClick()"
            [disabled]="outcome===0 || expensesArrayMinus.length <1 ">Settle Up
    </button>

  </div>
  <app-cash-status></app-cash-status>
  <app-expenses-list></app-expenses-list>
</div>
