<div class="flexbox">
  <div class="top-box" *ngIf="displayString!='Location'">
    <button mat-button class="add-button" (click)="onAddExpenseClick()" type="button"
            [disabled]="!(friendsList$|async)?.length"
    >
      Add an Expense

    </button>
    <div class="text">{{displayString}}</div>


    <button mat-button class="settle-button" type="button" (click)="onSettleUpClick()"
            [disabled]="outcome===0 || expensesArrayMinus.length <1 ">Settle Up
    </button>

  </div>
  <app-cash-status *ngIf="displayString!='Location'"></app-cash-status>
  <app-expenses-list *ngIf="displayString!='Location'"></app-expenses-list>
  <app-location *ngIf="displayString==='Location'"></app-location>
</div>
