@import 'src/app/styles/variables.scss';

.flexbox {
  border-right: solid #DDDDDD 1px;
  border-left: solid #DDDDDD 1px;
  display: flex;
  height: 95vh;
  flex-direction: column;
}

.top-box {
  width: 100%;
  background-color: $dashboard-color;
  align-items: center;
  flex-direction: row;
  height: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #333333;
}

.add-button {
  background-color: $add-expense-color;
  margin: 5px;
}

.settle-button {
  background-color: $settle-color;
  margin: 5px;
}

