@import 'src/app/styles/variables.scss';
@import 'src/app/styles/shared-classes.scss';

.expense-box {
  width: 100%;
  border-radius: 20px;
  background-color: $expense-box-background;
}

.top-bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 20px;
}

.cancel-icon {
  margin-top: 10px;
  cursor: pointer
}


.example-chip-list {
  width: 100%;
}

.mat-chip {
  min-height: 20px;
  width: auto;
}

mat-chip-list {
  display: flex;
}

.input-with {
  height: 15px;
  font-size: 15px;
  padding-bottom: 0;
}

.description-input {
  border: $add-expense-input-border 1px solid;
  margin-top: 10px;
  border-radius: 5px;
  padding: 2px;
  width: 65%;
  margin-bottom: 10px;
}

.mat-form-field {
  padding: 0;
}

.amount-input {
  border: $add-expense-input-border 1px solid;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  font-size: 30px;
  width: 40%
}

.expense-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

select {
  width: 15%;
  font-size: 20px;
  border: $add-expense-input-border 1px solid;
  border-radius: 2px;
  padding: 0;
  margin-top: 25px;
  margin-left: 5px;
}

.amount-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: $add-expense-input-border 1px solid;
  padding: 2px;
  min-width: 0;
  min-height: 0;
}

button:disabled {
  background-color: $add-expense-input-border;
  opacity: 0.7;
}


.user-box {
  width: 200px;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
}

.main-expense-box {
  display: flex;
  width: 100%;
  background-color: $main-expense-box;
}


.payer-select-li {
  cursor: pointer;
  padding: 4px 10px;
  display: flex;
}

.divide-box {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.split-button {
  margin: 10px;
  border-radius: 5px;
}

.split-button-selected {
  background-color: $header-color;
}

.split-selection-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.select-button {
  min-width: 40px;
  margin-top: 20px;
}

.user-box {
  ul {
    list-style-type: none;
  }
}

.single-user-expense-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.percent-input {
  border: $percent-input 1px solid;
  width: 40px;
  margin-right: 5px;
  padding: 2px;
  max-height: 24px;
}

.user-data {
  text-overflow: ellipsis;
  max-width: 120px;
  overflow: hidden;
}

.values-input {
  display: flex;
  justify-content: center;
  align-items: center;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.extra-info-percentages {
  display: flex;
  justify-content: center;
  width: 100%;
}

.extra-info-values {
  display: flex;
  justify-content: center;
  width: 100%;
}

.correct-user-selected {
  background-color: $correct-user-selected;
  font-weight: bold;
}


@media (max-width: 530px) {
  .main-expense-box {
    flex-direction: column;
  }

  .divide-box {
    width: 300px;
    height: 250px;
  }

  .split-button {
    line-height: 0;
    height: 30px;
  }


  .select-button {
    margin: 0;
  }

}
