@import 'src/app/styles/variables.scss';

.expense-box {
  width: 100%;
  height: 370px;
  border-radius: 20px;
  background-color: #F5F5F5;
}

.top-bar {
  height: 30px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cancel-icon {
  margin-top: 10px;
  cursor: pointer
}

.example-chip-list {
  width: 100%;
}

.mat-chip {
  min-height: 20px;
  width: auto;
}

mat-chip-list {
  display: flex;
}

.input-with {
  height: 15px;
  font-size: 15px;
  padding-bottom: 0;
}

