<div class="main-expense-box">
  <div class="expense-box">
    <mat-toolbar class="top-bar">
      <div>
        Add an expense
      </div>
      <div>
        <mat-icon class="cancel-icon" mat-dialog-close>cancel</mat-icon>
      </div>
    </mat-toolbar>

    <div class="with-box">
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Users involved:</mat-label>
        <mat-chip-list #chipList aria-label="Users selection">
          <mat-chip *ngFor="let user of users,let i=index" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(user)" class="chip">
            {{i===0 ? user + ' (You)' : user}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
            class="input-with"
            [disabled]="!correctFriend">
        </mat-chip-list>
      </mat-form-field>
      <div class="expense-info">
        <input matInput class="description-input" placeholder="Description" autocomplete="off"
               [(ngModel)]="description">
        <div class="amount-field">
          <input matInput class="amount-input" placeholder="0.00"
                 autocomplete="off" type="number" step="0.1" min="0" lang="en-US"
                 oninput="value = !!value && Math.abs(value) >= 0 ? Math.abs(value) : null"
                 [(ngModel)]="expenseValue">
          <select matNativeControl required matSuffix [(ngModel)]="currencyChoice">
            <option value="PLN">PLN</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
        <p>Paid by
          <button mat-button  (click)="payerSelect()" [disabled]="!canExtend()" type="button" [ngClass]="{'correct-user-selected':whoPaid != 'who?' }">{{whoPaid}}</button>
          and split
          <button mat-button (click)="divideSelect()" [disabled]="!canExtend()"
                  type="button">{{howToDivide}}</button>
          .
        </p>
        <button
          [disabled]="!correctFriend || expenseValue===0 || whoPaid==='who?' || description==='' || eachUserExpenseSum!=expenseValue || percentagesLeft!=0 || valueLeft!=0"
          mat-button
          (click)="sendInfo()">Save the expense
        </button>
      </div>
    </div>
  </div>
  <div class="user-box" *ngIf="isUserBoxVisible">
      <div *ngFor="let user of users" (click)="userSelect(user)" class="payer-select-li">
        <mat-icon class="icon">account_box</mat-icon>
        {{user}}</div>
  </div>
  <div class="divide-box" *ngIf="isDivideBoxVisible">
    <button mat-button [ngClass]="{'split-button-selected': splitSelected}" class="split-button"
            type="button"
            (click)="splitExpenseSelected()">Split the expense
    </button>
    <button mat-button [ngClass]="{'split-button-selected': theyOweSelected}" class="split-button"
            *ngIf="users.length<3" type="button"
            (click)="theyOweYouSelected()">They owe the full amount
    </button>
    <div class="split-selection-box" *ngIf="splitSelected">
      <button mat-button class="select-button" (click)="divideEven()"
              matTooltip="Split evenly"
              type="button"
              [matTooltipShowDelay]="showDelay"
              [matTooltipHideDelay]="hideDelay">=
      </button>
      <button mat-button class="select-button"
              matTooltip="Split by %"
              type="button"
              [matTooltipShowDelay]="showDelay"
              [matTooltipHideDelay]="hideDelay" (click)="divideByPercentView()">%
      </button>
      <button mat-button class="select-button"
              matTooltip="Split by exact value"
              type="button"
              [matTooltipShowDelay]="showDelay"
              [matTooltipHideDelay]="hideDelay" (click)="divideByValuesView()">1.23
      </button>
    </div>
    <div class="users-list">
      <mat-list>
        <mat-list-item *ngFor="let user of users; let i=index">
          <div class="single-user-expense-display">
            <div class="user-data">{{user}}</div>
            <div class="values-input">
              <input matInput class="percent-input" *ngIf="inputPercentVisible"
                     autocomplete="off" [(ngModel)]="percentToDivide[i]"
                     (change)="divideByPercent()"
                     type="number">
              <input matInput class="percent-input" *ngIf="inputValueVisible"
                     autocomplete="off" [(ngModel)]="valueToDivide[i]"
                     type="number" (change)="divideByValues(i)">
              <div>{{eachUserAmount[i] ? eachUserAmount[i].toFixed(2) : ''}}</div>
            </div>
          </div>
        </mat-list-item>
        <div class="extra-info-percentages" *ngIf="inputPercentVisible">
          <p *ngIf="percentagesLeft  > 0">{{percentagesLeft}}% left, please change the values!
          <p *ngIf="percentagesLeft < 0"> Invalid amount!</p>
        </div>
        <div class="extra-info-values" *ngIf="inputValueVisible">
          <p *ngIf="valueLeft > 0">{{valueLeft}} left, please change the values!
          <p *ngIf="valueLeft < 0"> Invalid amount!</p>
        </div>
      </mat-list>
    </div>
  </div>
</div>
