<div class="expense-box">
  <mat-toolbar class="top-bar">
    <div>
      Add an expense
    </div>
    <div>
      <mat-icon class="cancel-icon" mat-dialog-close (click)="onClick()">cancel</mat-icon>
    </div>
  </mat-toolbar>
  <!--example-->
  <div class="with-box">
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Share with:</mat-label>
      <mat-chip-list #chipList aria-label="Users selection">
        <mat-chip *ngFor="let user of users" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(user)" class="chip">
          {{user}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
          class="input-with">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <!--example end-->


</div>
