@import 'src/app/styles/variables.scss';


.text-box {
  width: 80%;
  text-align: center;
  background-color: $bars-color;
  margin-left: 10%;
}

.friend-flex {
  display: flex;
  flex-direction: column;
}

.add-button {
  margin-top: 10px;
  margin-left: 25%;
  background-color: $dashboard-color;
  width: auto;
}

.input-styling {
  margin-left: 10%;
  margin-top: 10px;
  height: 30px;
  width: 80%;
}

ul {
  list-style-type: none;
}

.singleFriend {
  display: flex;
  align-items: center;
}

.icon {
  opacity: 0.5;
  color: grey;
  margin-right: 5px;
}
