<div class="main-flexbox">
  <div class="left-flexbox">
    <img src="../../../assets/splitwise%20logo.png" class="logo" alt="logo">
  </div>
  <div class="right-flexbox">

    <p class="shadow-text">Start a new group</p>
    <p class="main-text">My group shall be called....</p>

    <form [formGroup]="formTemplate" class="form-styling">
      <input type="text" formControlName="groupName" class="input-styling" #groupName matInput autocomplete="off">
      <div *ngFor="let user of users.controls; let i=index" formArrayName="users">
        <div class="single-user" [formGroupName]="i" *ngIf="groupName.value">
          <mat-form-field appearance="legacy" class="single-user-input">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName='email'
                   email (change)="friendCheck(user.value.email)">
            <button (click)="removePeople(i)" mat-icon-button matSuffix>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </form>

    <div class="buttons-wrapper">
      <div class="add-more-button-wrapper">
        <button mat-flat-button (click)="addNewPeople()" type="button"
                [disabled]="!groupName.value"
                class="add-more-button">Add more...
        </button>
      </div>

      <div class="actions-buttons">
        <button mat-flat-button
                [disabled]="formTemplate.invalid || incorrectUsers.length>0 || users.length<1 "
                type="button"
                (click)="saveGroup()"
                class="save-button">Save
        </button>
        <button mat-flat-button (click)="cancel()" type="button"
                class="cancel-button">Cancel
        </button>
      </div>


    </div>
  </div>

</div>
