<div class="main-flexbox">
  <div class="left-flexbox">
    <img src="../../../assets/splitwise%20logo.png" class="logo" alt="logo">
  </div>
  <div class="right-flexbox">
    <p class="shadow-text">Start a new group</p>
    <p class="main-text">My group shall be called....</p>
    <input matInput type="text" placeholder="Your new group..."
           class="input-styling group-name-input"
           autocomplete="off"
           [(ngModel)]="groupName">

    <div class="friends-flex" *ngFor="let human of groupNewPeople.controls; index as i">
      <input class="input-styling" placeholder="Add friend to group" *ngIf="groupName">
      <button mat-button class="delete-friend-button" *ngIf="groupName" (click)="removePeople(i)">X</button>
    </div>

    <div class="friends-flex">
      <button mat-button *ngIf="groupName" (click)="addNewPeople()">Add more...</button>
    </div>

  </div>
</div>
