@import 'src/app/styles/variables.scss';

.shadow-text {
  color: gray;
  font-size: 25px;
  height: 40px;
  margin: 0;
}

.main-text {
  font-size: 27px;
  height: 40px;
  margin: 0;
}

.right-flexbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 25%;
}

.left-flexbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

.main-flexbox {
  display: flex;
  justify-content: center;
  height: 100%;
}

.logo {
  width: 60%;
  margin-left: 30%;
}

.input-styling {
  width: 60%;
  margin-top: 10px;
}

.email-friend-input {
  width: 35%;
  margin-top: 10px;
  margin-right: 10px;
}

.name-friend-input {
  width: 20%;
  margin-top: 10px;
}

.group-name-input {
  height: 30px;
  font-size: 20px;
}

.friends-flex {
  display: flex;
  height: 30px;
}

.delete-friend-button {
  height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #fc0334;
  padding: 0;
  line-height: 0;
  min-width: 0;
  width: 20px;
}

.add-more-button {
  background-color: $log-in-button-color;
  line-height: 0;
  height: 20px;
  margin-top: 10px;
}


.save-button {
  width: 50%;
  background-color: $log-in-button-color;
}
