<form [formGroup]="defaultForm">
  <div class="flexbox">
    <div class="form-items">
      <img src="../../../assets/splitwise%20logo.png" class='logo' alt="logo">
      <input matInput
             type="email"
             placeholder="Enter your mail"
             class="input-area"
             required
             email
             formControlName="email"
             autocomplete="off"
             [@buttonState]="state"
      >
      <input matInput
             type="password"
             placeholder="Enter your password"
             class="input-area"
             required
             formControlName="password"
             [@buttonState]="state"
      >
      <input type="text"
             formControlName="name"
             matInput
             placeholder="Enter your name"
             class="input-area"
             autocomplete="off"
             *ngIf="!isInLogInMode"
             [@buttonState]="state"
      >
      <button mat-raised-button
              class="sign-in-button"
              (click)="onSwitch()"
              [@buttonState]="state"
              type="button"
      >Switch to {{switchButtonText}}
      </button>
      <button mat-raised-button
              class="log-in-button"
              (click)="formSubmit()"
              [disabled]="!defaultForm.valid"
              [@buttonState]="state"
              type="button"
      >Submit!
      </button>
    </div>
  </div>
</form>

