@import 'src/app/styles/variables.scss';

.flexbox {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.form-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  gap: 10px;
}

.input-area {
  width: 15vw;
  height: 4vh;
  font-size: 16px;
  padding-left: 5px;
}

.sign-in-button {
  background-color: $switch-button-color;
  width: 10vw;
}

.log-in-button {
  background-color: $log-in-button-color;
  width: 10vw;
}


