@import 'src/app/styles/variables.scss';

.flexbox {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.form-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  gap: 10px;
}

.input-area {
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #333333;
}


.sign-in-button {
  background-color: $switch-button-color;
  width: 150px;
}

.log-in-button {
  background-color: $log-in-button-color;
  width: 150px;
}


.logo {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.button-div {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.invalid-input {
  border-color: red;
}

@media only screen and (max-width: 700px) {
  .button-div {
    gap: 10px;
  }
}


