<div class="main-box">
  <div class="cash-box"
       [ngClass]="{'balance-minus':difference<0,'balance-plus':difference>0,'balance-neutral':difference==0}">
    <div class="single-box">Total balance<br>{{difference| number: '1.0-2'}}</div>
  </div>
  <div class="cash-box" [ngClass]="{'balance-minus':outcome>0,'balance-neutral':outcome==0}"
  >
    <div class="single-box">You owe <br>{{outcome| number: '1.0-2'}}</div>
  </div>
  <div class="cash-box" [ngClass]="{'balance-plus':income>0,'balance-neutral':income==0}"
  >
    <div class="single-box">You are owed <br>{{income| number: '1.0-2'}}</div>
  </div>
</div>
