@import 'src/app/styles/variables.scss';

.text-box {
  width: 80%;
  text-align: center;
  background-color: $bars-color;
  margin-left: 10%;
}

.add-button {
  margin-left: 25%;
  background-color: $dashboard-color;
}


.group-list {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.singleGroupFlex {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
  opacity: 0.5;
  color: gray;
}
