.flexbox {
  display: flex;
  //only for test purposes
  border-right: solid black 1px;
  border-left: solid black 1px;
  //
  height: 95vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


