.flexbox {
  display: flex;
  height: 96.5vh;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.list-items {
  padding-inline-start: 0;
}

ul {
  list-style-type: none;
  font-weight: bold;
}

p {
  font-weight: bold;
}
