@import 'src/app/styles/variables.scss';

.header-flex {
  display: flex;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-around; //space-evenly
  width: 100vw;
  height: 5vh;
  background-color: $header-color;
  font-size: 30px;
}



